

section{

    min-height: 80vh;
    width: 90vw;
    border: 4px solid black;
    background-color: rgb(182, 44, 72);
    margin: 100px auto;
    color:rgb(36, 34, 34);

}

h1{

    font-size: 3.5em;
    color: aliceblue;
    text-align: center;

}

/* @media screen and (max-width:768px){

    h1{

        font-size: 3em;
    }
    p{

        color: blueviolet;
    }

    section{
        background-color: black;
        color: white;


    }
} */


@media (450px <= width <= 768px) {

    h1{

        font-size: 2em;
    }
    p{

        color: purple;
    }

    section{

        background-color: black;
        color: white;
        
    }
}

/* @media screen and (orientation: portrait){

    h1{
        font-size: 1.5em;
    }

    section{

        background-color: darkgoldenrod;
        color: black;
        min-height: 200px;
    }



} */