*{

    margin: 0;
    padding: 0;
}


div{

    margin: 20px auto;
    width: fit-content;
    
}

div > button , input {

    padding: 10px;
}



section{


  max-width: 80vw;
    min-height: 50vh;
    margin: 100px auto;
    box-sizing: border-box;
    overflow: hidden;
    border: 5px solid black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     gap: 20px;
    padding: 10px; 
}