

:root{

  --primary-color: rgb(20,40,150);
  --section-ka-border: 4px solid black;

}


section{

    height: 400px;
    width: 300px;

    background-color: var(--primary-color);

   border: var(--section-ka-border);


}