
/* Desendant Combinator */


/* section p{

color: red;

} */



/* Child Combinator */

section > p{

    background-color: green;

}


 main > div{

    width: 150px;
    height: 200px;
    border: 5px solid black;
    display: inline-block;
}


.container .box ~ .box
{

    background-color: red;
    margin-left: 20px;



}

.container-2 .box + .box
{

    background-color: red;
    margin-left: 20px;



}











